# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

bin/src/initcomp.bat
bin/src/initcomp22.bat
.VSCodeCounter
bin/src/compile.bat
bin/src/compileExe.bat
bin/src/compile_scopes.bat
bin/src/compile_scopesExe.bat
bin/pixconvert_cu.lib
bin/pixconvert_cu.exp
bin/pixconvert_cu.exe

bin/Processing.NDI.Lib.x64.dll
bin/scopes.exe
bin/scopes.exp
bin/scopes.lib